version: '3.8'
services:

  loki:
    image: grafana/loki:2.9.1
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml

  grafana:
    image: grafana/grafana-oss
    container_name: grafana
    restart: unless-stopped
    environment:
      # increases the log level from info to debug
      #- GF_LOG_LEVEL=debug
      #- GF_INSTALL_PLUGINS=grafana-clock-panel 1.0.1
    - GF_DATASOURCES_DEFAULT_URL=http://loki:3100
    - GF_DATASOURCES_DEFAULT_ACCESS=proxy
    - GF_DATASOURCES_DEFAULT_BASICAUTH=false
    
    ports:
      - '3000:3000'
    volumes:
      - 'grafana_storage:/var/lib/grafana'
    depends_on:
      - loki

  simulated_client:
    image: grafana/promtail:2.9.1
    volumes:
      - ./promtail/promtail-config.yaml:/etc/promtail/docker-config.yaml
      - /var/log:/var/log
    command: -config.file=/etc/promtail/docker-config.yaml
    depends_on:
      - loki

volumes:
  grafana_storage: {}